*{
    font-family: 'Courier New', Courier, monospace;
    font-weight: 100;
    font-size: 20px;
}
.contenedor{
    float: left;
}
.contenedor div{
    width: 50%;
    float: right;
}
.primario{
    background-color: aqua;
}
.secundario{
    background-color: blueviolet;
}
.cont{

    margin: auto;
    width: 50%;
}
.cont img{
    float: right;
    width: 300px;
}

.texto{
    padding: 20px;
}
.texto::first-line{
    color: blueviolet;
    font-size: 2em;
}
input::placeholder{
    color: crimson;
    background-color: darkkhaki;
}
.texto p::selection{
    color: darkorange;
    background-color: darkred;
}
.beforee b::before{
    content: "Me susbribi";
    color: blue;
}
.beforee b::after{
    content: "JAnxi";
    color: blue;
    background-color: lightblue;
}


.caja1{
    height: 450px;
    width: 200px;
    background: slateblue;
    border: 4px solid red;
    transition: all 1s,border 0.5s;
}
.caja1:hover{
    background: steelblue;
    height: 450px;
    border: 4px solid blue;
    width: 250px;
}

a{
    padding: 30px;
    display: block;
}
a:link{
    color: green;
    background-color: lightblue;
}
a:visited{
    color: indianred;
}
.caja2{
    width: 250px;
    height: 250px;
    background: lightseagreen;
    transition: all 1s;
}
.caja2:active{
    background: lightcoral;
    width: 500px;
}
.caja2 b:lang(en){
    background: mediumpurple;
    padding: 10px;
}
.focuss input:focus{
    color: limegreen;
    background: maroon;
}

.imagenes{
    margin: 20px;
    width: 300px;
    height: 450px;
}
.imagenes img{
    width: 100%;
    height: 100%;
    border: 2px solid red;
    object-fit: cover;
    object-position: center;
}

.caja3{
    width: 250px;
    height: 250px;
    background-color: #af5;
    border: 5px solid red;
    cursor: pointer;
}
